<form  [formGroup]='question' (ngSubmit)='onSubmit()' class="ui large form segment error">
  <h3 class="ui header">Add a question</h3>
  <div class="field">
    <label for="name_id">Name of the question:</label>
    <input type="text" id="name_id" formControlName="name">
    <label for="desc_id">Description of the question:</label>
    <input type="text" id="desc_id" formControlName="description">
  </div>
  <button type="submit" class="ui positive right floated button">Add question</button>
</form>
<!--REMOVE LATER:  {{ question.value | json}}-->