<!--The content below is only a placeholder and can be replaced.-->
<html>
  <head>
      <!--<title>{{ title }}</title>-->
      <script src="../assets/navbar.js"></script>
  </head>
  
  <body>
      
    <header>
      <a class="logo" routerLink="/">
        <img src="../assets/Logo.png">
      </a>
      <nav>
          <ul>
              <li><a class='item' routerLinkActive='active' routerLink="question/list" >Questions</a></li>
              <li><a class='item' routerLinkActive='active' routerLink="question/add" >Add Questions</a></li>
              <li><a *ngIf='(currentUser | async) else loginlink' class="item" routerLinkActive='active' routerLink="/logout">Logout</a>
                <ng-template #loginlink>
                  <a class="item" routerLinkActive='active' routerLink="/login">Login</a>
                </ng-template>
              </li>
            </ul>
      </nav>
    </header>
    <div class="ui container wrapper" id='topid'>
        <router-outlet></router-outlet>
    </div>
    <footer>@JobAbended - Anjana T'Jampens - 2017</footer>
  </body>
</html>


